 @import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');

:root{
  --main-color: #0aad0a;
  --font-family: 'Encode Sans Expanded', sans-serif;
  --rating-color: #ffc908;
  --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
}

.main-bg {
  background-color: var(--main-color);
}

.main-text{
  color: var(--main-color); 
}

 body{
  font-family: var(--font-family);
 }

 a{
  text-decoration: none;
 }

.rating-color{
  color: var(--rating-color);
}

.cursor-pointer{
  cursor: pointer;
}

.product-item .btn-add{
    transition: all 1s , opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}

.product-item:hover .btn-add {
    opacity: 1;
    transform: translateY(0%);
}

.product-item{
  transition: all 1s ease-in-out;
}

.product-item:hover{
  border: 1px solid var(--main-color);
  box-shadow: var(--shadow);
}